# Ignore everything in the root directory
*

# Allow all first-level directories (so Git can look inside them)
!*/

# Ignore everything inside those first-level directories
*/*

# Allow .yml files inside those first-level directories
!*/*.yml


# Allow Git to track top-level root config files
!.gitignore
!README.md

# custom notification build
!/productivity/notifications
/productivity/notifications/*
!/productivity/notifications/Dockerfile
!/productivity/notifications/main.py

# ignore caddy and dockhand .yml's
/caddy/docker-compose.yml
/dockhand/docker-compose.yml

# calendar smh
!/calendar/scripts
/calendar/scripts/*
!/calendar/scripts/create-user.sh
!/calendar/caddy
/calendar/caddy/*
!/calendar/caddy/calendar.caddyfile
!/calendar/radicale
/calendar/radicale/*
!/calendar/radicale/config
/calendar/radicale/config/*
!/calendar/radicale/config/config
!/calendar/radicale/config/rights
!/calendar/radicale/config/users.example
